.contact-details-header {
  display: flex;
  justify-content: space-between;
  height: 40px; 
}
.contact-details-header a:not(:last-child) {
  margin: 0 10px 0 0; 
}

.contact-details {
  position: relative;
  .contact-details-row {
    margin: 10px 0 0 0; 
  }
  .edit-link{
    position: absolute;
    right: 20px;
    top: 20px;
    img{
      height: 30px;
      width: 30px;
    }
  }
}

.moves-list-container, .transter-coins-container {
  margin: 20px 0;
}