.filter{
    text-align: center;
    // margin: 14px 20px;
    // padding: 5px;
    position: relative;
    input{
        max-height: 100%;
        width: 100%;
        border-radius: 3px;
        padding: 5px;
    }
}